<%- layout("/layouts/boilerplate")%>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-12">
      <h3 class="mb-3 text-center">Edit Your Listing</h3>

      <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input value="<%=listing.title%>" type="text" name="listing[title]" class="form-control" required>
          <div class="valid-feedback">Title looks good!</div>
        </div>
        
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" class="form-control" required><%=listing.description%></textarea>
          <div class="invalid-feedback">Please add a short description</div>
        </div>

        <div class="mb-3">
          <label class="form-label">Original Image</label><br>
          <img src="<%=originalImageUrl%>" alt="Original Image" class="img-fluid rounded border" style="max-height: 300px;">
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload New Image</label>
          <input type="file" name="listing[image]" class="form-control">
        </div>
        
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input value="<%=listing.price%>" type="number" name="listing[price]" class="form-control" required>
            <div class="invalid-feedback">Price should be valid</div>
          </div>
          
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input value="<%=listing.country%>" type="text" name="listing[country]" class="form-control" required>
            <div class="invalid-feedback">Country name should be valid</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input value="<%=listing.location%>" type="text" name="listing[location]" class="form-control" required>
          <div class="invalid-feedback">Location should be valid</div>
        </div>

        <button class="btn btn-dark w-20 mt-3">Save Changes</button>
      </form>
    </div>
  </div>
</div>

    
    
